<div class="d-flex flex-column justify-content-center align-items-center"
    style="position: absolute; height: 85%; width: 100%;">
    <h1 style="margin-bottom: 40px;">Welcome and kind regards!</h1>
    <h5 class="w-75 text-center">
        Bacon ipsum dolor amet short ribs hamburger shoulder ball tip landjaeger beef ribs strip steak chicken sirloin
        ribeye prosciutto jowl short loin. Tri-tip leberkas spare ribs kielbasa pancetta hamburger. Meatball tongue
        picanha turkey swine fatback sirloin, short loin frankfurter filet mignon sausage shank burgdoggen landjaeger
        ground round. Jerky spare ribs meatball, short loin boudin rump flank. Boudin drumstick turducken kielbasa
        buffalo tri-tip, andouille kevin corned beef brisket ham rump biltong chicken. Venison doner prosciutto,
        meatloaf short loin pastrami biltong shoulder ham hock chislic spare ribs pork belly. Ball tip landjaeger
        venison turkey, swine andouille sausage shankle.
    </h5>
    <fa-icon [icon]="faCoffee"></fa-icon>
</div>