.main-container {
    height: 75vh;
    max-height: 75vh;
    margin-top: 9vh;
    margin-bottom: 16vh;
    border-radius: 10px;
    z-index: 100;

    .personal-info-container {
        scrollbar-width: thin !important;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        overflow: auto;
    }

    .portfolio-body-container {
        border-bottom-right-radius: 15px;
        overflow-y: auto;
        overflow-x: hidden;
    }


    /* -------- scrollbar decorators -------- */
    ::-webkit-scrollbar {
        width: 1px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: white;
    }

    /* -------- scrollbar decorators -------- */
}