<div class="col-12">
    <div class="row">
        <div class="col-sm-2 col-lg-1"></div>
        <div class="main-container container-fluid col-lg-10 col-sm-8">
            <div class="row h-100" style="z-index: 100;">
                <div class="personal-info-container col-lg-3 pt-2 h-100">
                    <app-personal-info>
                    </app-personal-info>
                </div>
                <div class="portfolio-body-container col-lg-9 h-100">
                    <div class="row h-100">
                        <app-portfolio-body class="gx-0 h-100"></app-portfolio-body>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-lg-1"></div>
    </div>
</div>