<div class="col-12">
    <div class="row">
        <div class="col-sm-2 col-lg-1"></div>
        <div class="container col-lg-10 col-sm-8 text-center">
            <div class="row h-100">
                <div class="col-lg-3 pt-2" style="background: green">
                    <app-personal-info>
                    </app-personal-info>
                </div>
                <div class="col-lg-9" style="background: yellow">
                    <div class="row">
                        <app-portafolio-header class="gx-0"></app-portafolio-header>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-lg-1"></div>
    </div>
</div>