#particles-js {
    z-index: -10;
}

.app-container {
    .intro {
        height: 100vh;
        width: 100vw;
    }

    .info {
        min-height: 450px;
        width: 100vw;
    }

    .skills {
        min-height: 450px;
        width: 100vw;
    }

    .projects {
        min-height: 450px;
        width: 100vw;
    }

    .contact {
        min-height: 450px;
        width: 100vw;
    }
}