.personal-info {
    .user-creds {
        text-align: center;

        #user-first-last-name {
            font-size: 1.3vw;
        }

        #user-title {
            font-size: 1.0vw;
        }
    }

    button {
        width: 100%;
        margin-bottom: 3px;
    }

    p {
        margin-bottom: 0.35rem;
    }

    .side-dropdown-menu {
        .personal-info-dropdown {
            .personal-info-dropdown-fields {
                word-break: break-all
            }
        }
    }
}