<ng-container *ngIf="screenInLargeMode;else midSmallView">
    <div class="personal-info">
        <div class="row">
            <div class="col-4">
                <img class="img-fluid rounded" src="/assets/images/GitHub-Mark-Light-120px-plus.png">
            </div>
            <div class="user-creds col-8 pt-1 align-self-center">
                <h4 id="user-first-last-name">Tomislav Vesic</h4>
                <h6 id="user-title">Software engineer</h6>
            </div>
        </div>
        <hr>

        <div class="side-dropdown-menu" *ngIf="personalInfo$ | async; else pending">
            <div class="personal-info-dropdown" *ngIf="personalInfoMenu.personalInfo;else personalInfoCollapsed">
                <button class="btn" (click)="personalInfoMenu.personalInfo = !personalInfoMenu.personalInfo">
                    <h6>Personal Info</h6>
                </button>
                <div class="personal-info-dropdown-fields">
                    <div class="row">
                        <div class="col-5">
                            <p>Birth Date: </p>
                        </div>
                        <div class="col-7">
                            <p (click)="testfunc()">{{personalInfo.birth_date}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p>City: </p>
                        </div>
                        <div class="col-7">
                            <p>{{personalInfo.city}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p>Country: </p>
                        </div>
                        <div class="col-7">
                            <p>{{personalInfo.state}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p>LinkedIn: </p>
                        </div>
                        <div class="col-7">
                            <a [href]="personalInfo.linkedin">LinkedIn</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p>Github: </p>
                        </div>
                        <div class="col-7">
                            <a [href]="personalInfo.github">GitHub</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p>Email: </p>
                        </div>
                        <div class="col-7">
                            <p>{{personalInfo.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="personalInfoMenu.programmingLanguages;else languagesCollapsed">
                <button class="btn"
                    (click)="personalInfoMenu.programmingLanguages = !personalInfoMenu.programmingLanguages">
                    <h6>Programming Languages</h6>
                </button>
                <div class="text-start">
                    <div class="row" *ngFor="let language of programmingLanguages">
                        <div class="col-5">
                            <p>{{language.name}}</p>
                        </div>
                        <div class="col-7">
                            <p>{{language.skill}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="personalInfoMenu.otherSkills;else otherSkillsCollapsed">
                <button class="btn" (click)="personalInfoMenu.otherSkills = !personalInfoMenu.otherSkills">
                    <h6>Other Skills</h6>
                </button>
                <div class="text-start">
                    <div class="row" *ngFor="let skill of otherSkills">
                        <div class="col-5">
                            <p>{{skill.name}}</p>
                        </div>
                        <div class="col-7">
                            <p>{{skill.skill}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #personalInfoCollapsed>
            <button class="btn" (click)="personalInfoMenu.personalInfo = !personalInfoMenu.personalInfo">
                Personal Info
            </button>
        </ng-template>
        <ng-template #languagesCollapsed>
            <button class="btn"
                (click)="personalInfoMenu.programmingLanguages = !personalInfoMenu.programmingLanguages">
                Programming Languages
            </button>
        </ng-template>
        <ng-template #otherSkillsCollapsed>
            <button class="btn" (click)="personalInfoMenu.otherSkills = !personalInfoMenu.otherSkills">
                Other Skills
            </button>
        </ng-template>
    </div>
</ng-container>

<ng-template #midSmallView>
    <div class="personal-info">
        <div class="row">
            <div class="col-4 pe-0">
                <img class="img-fluid img-thumbnail" src="/assets/images/GitHub-Mark-Light-120px-plus.png">
            </div>
            <div class="col-8 pt-1 align-self-center">
                <h6>Tomislav Kesic</h6>
            </div>
        </div>
        <p>test</p>
    </div>
</ng-template>

<ng-template #pending>
    <div>pending</div>
</ng-template>