.portfolio-body {
    form {
        button {
            color: white;
            background-color: #444;
            width: 100%;
            margin-bottom: 3px;
        }

        button:focus {
            box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 35%);
        }
    }

    .navbar {
        position: sticky;
        top: 0;
    }

    .color-header-mode-white {
        background-color: white;
    }

    .color-header-mode-dark {
        color: #fff;
        background-color: #222;
        border-bottom: inset 1px white;
    }
}