<div class="portfolio-body h-100">
    <nav class="portfolio-body-nav navbar mb-4">
        <div class="container-fluid">
            <!-- must be here to float other components to right side -->
            <p></p>
            <form class="d-flex">
                <button type='button' class="btn me-2" (click)="onLoadInfo()">Info</button>
                <button type='button' class="btn me-2" (click)="onLoadProjects()">Projects</button>
                <button type='button' class="btn me-2" (click)="onLoadContact()">Contact</button>
            </form>
        </div>
    </nav>
    <div class="portfolio-body-tabs">
        <app-portfolio-info *ngIf="displayInfo"></app-portfolio-info>
        <app-portafolio-projects *ngIf="displayProjects"></app-portafolio-projects>
        <app-portfolio-contact *ngIf="displayContacts"></app-portfolio-contact>
    </div>
</div>