/* You can add global styles to this file, and also import other style files */

html,
body,
.app-container,
#particles-js,
#portfolio {
    margin: 0px;
    padding: 0px;

    flex-direction: column;
    overflow-x: hidden;

    ::-webkit-scrollbar {
        width: 7px;
        z-index: -100;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 10px;
    }
}

// Used to toggle white/dark mode

.color-mode-dark {
    background-color: black;

    nav.navbar {
        background-color: transparent;
        border-bottom: 1px solid #eee;

        .navbar-toggler {
            background-color: rgba(230, 230, 230, 0.8);
        }

        a {
            color: #eee;
        }

        .toggle-text {
            color: #eee;
        }

        .toggle-icons {
            .fa-toggle-on {
                color: #eee;
            }
        }
    }

    .intro {
        background-color: black;

        .intro-comp {

            h1,
            h5 {
                color: #eee;
            }
        }
    }

    .info {
        background-color: #333;
        // background-image: linear-gradient(rgba(33, 33, 33, 1) 0%,
        //         rgba(33, 33, 33, 1) 90%,
        //         rgba(0, 0, 0, 1) 100%);

        .info-component {
            .personal-info-component {
                color: #eee;
                border-color: #eee;
            }

            .experience-component {
                color: #eee;
                border-color: #eee;
            }
        }
    }

    .skills {
        background-color: #333;
        // background-image: linear-gradient(rgba(0, 0, 0, 1) 0%,
        //         rgba(0, 0, 0, 1) 90%,
        //         rgba(33, 33, 33, 1) 100%);
    }

    .projects {
        background-color: #000;
        // background-image: linear-gradient(rgba(0, 0, 0, 1) 0%,
        //         rgba(0, 0, 0, 1) 90%,
        //         rgba(33, 33, 33, 1) 100%);

    }

    .contact {
        background-color: #333;
        // background-image: linear-gradient(rgba(33, 33, 33, 1) 0%,
        //         rgba(33, 33, 33, 1) 90%,
        //         rgba(0, 0, 0, 1) 100%);
    }
}

.color-mode-white {
    background-color: white;

    nav.navbar {
        background-color: transparent;
        border-bottom: 1px solid black;

        .navbar-toggler {
            background-color: transparent;
        }

        a {
            color: #222;
        }

        .toggle-text {
            color: #222;
        }

        .toggle-icons {
            .fa-toggle-off {
                color: #222;
            }
        }
    }

    .intro {
        background-color: gray;

        .intro-comp {

            h1,
            h5 {
                color: #222;
            }
        }
    }

    .info {
        background-color: white;
    }

    .skills {
        background-color: lightblue;
    }

    .projects {
        background-color: lightblue;
    }

    .contact {
        background-color: white;
    }
}