<nav class="navbar navbar-light bg-black mb-4">
    <div class="container-fluid">
        <p></p>
        <form class="d-flex">
            <button type='button' class="btn btn-outline-success me-2" (click)="onLoadInfo()">Info</button>
            <button type='button' class="btn btn-outline-success me-2" (click)="onLoadProjects()">Projects</button>
            <button type='button' class="btn btn-outline-success me-2" (click)="onLoadContact()">Contact</button>
        </form>
    </div>
</nav>
<div>
    <!-- <app-portafolio-info *ngIf="displayInfo"></app-portafolio-info> -->
    <app-portafolio-projects *ngIf="displayProjects"></app-portafolio-projects>
    <!-- <app-portafolio-contact *ngIf="displayContacts"></app-portafolio-contact> -->
</div>