<div class="personal-info-component p-3" *ngIf="personalInfo$ | async as personalInfo">
    <div class="personal-info">
        <h4 class="mb-3">Personal Info</h4>
        <div class="personal-info-summary row mt-3 mb-3">
            <div class="mt-2 mb-2 col-6 col-sm-4 col-lg-6 col-xl-4">
                <h6><b>Full Name:</b></h6> <span>{{ personalInfo?.personal_info?.full_name }}</span>
            </div>
            <div class="mt-2 mb-2 col-6 col-sm-4 col-lg-6 col-xl-4">
                <h6><b>Birth:</b></h6> <span>{{ personalInfo?.personal_info?.birth_date }}</span>
            </div>
            <div class="mt-2 mb-2 col-6 col-sm-4 col-lg-6 col-xl-4">
                <h6><b>Location:</b></h6> <span>{{ personalInfo?.personal_info?.location }}</span>
            </div>
            <div class="mt-2 mb-2 col-6 col-sm-4 col-lg-6 col-xl-4">
                <h6><b>Experience:</b></h6> <span>{{ personalInfo?.personal_info?.experience }}</span>
            </div>
            <div class="mt-2 mb-2 col-6 col-sm-4 col-lg-6 col-xl-4">
                <h6><b> LinkedIn:</b></h6>
                <a target="_blank" [href]="personalInfo?.personal_info?.linkedin">
                    <span>tomislav-vesic</span>
                </a>
            </div>
            <div class="mt-2 mb-2 col-6 col-sm-4 col-lg-6 col-xl-4">
                <h6><b> Github:</b></h6>
                <a target="_blank" [href]="personalInfo?.personal_info?.github">
                    <span>tomislavvesic</span>
                </a>
            </div>
        </div>
    </div>
    <div class="about-me mt-4">
        <h4 class="mb-3">About me :)</h4>
        <div>
            <p class="me-4 ms-4" [innerHTML]='personalInfo?.personal_info?.description'></p>
        </div>
    </div>
</div>